vedaweb.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>VedaWeb ODD</title>
        <author>Francisco Mondaca</author>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <abbr>CCeH</abbr> Cologne Center for eHumanities</publisher>
        <pubPlace>Cologne</pubPlace>
        <date>2020</date>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>TEI Specifications</head>
        <schemaSpec ident="vedaweb" xml:lang="en" prefix="vedaweb_" targetLang="en" docLang="en">
          <moduleRef key="analysis" include="w"/>
          <moduleRef key="iso-fs" include="fs f symbol string vAlt"/>
          <moduleRef key="core"
            include="p list item head author title l lg ptr respStmt resp publisher date teiCorpus abbr pubPlace listBibl bibl biblScope name editor email relatedItem biblStruct monogr imprint"/>
          <moduleRef key="tei"/>
          <moduleRef key="header"
            include="teiHeader fileDesc titleStmt publicationStmt sourceDesc funder availability editionStmt edition biblFull licence profileDesc langUsage language seriesStmt abstract idno"/>
          <moduleRef key="textstructure" include="TEI text body div front back"/>
          <moduleRef key="namesdates" include="persName person orgName affiliation"/>
          <moduleRef key="dictionaries" include="lang"/>
          
          <specGrpRef target="#classmods"/>
          <specGrpRef target="#bodyfixes"/>
          <specGrpRef target="#hdrfixes"/>

          <classSpec ident="att.sortable" type="atts" mode="delete"/>
          <!-- Global attribute specifications -->
          <classSpec ident="att.global" module="tei" mode="change" type="atts">
            <attList>
              <attDef ident="xml:lang" mode="change">
                <desc>VedaWeb: The attribute <att>xml:lang</att> is used to report in detail the
                  language and/or the transliteration system used in the source.</desc>
                <valList type="closed" mode="replace">
                  <valItem ident="san-Latn-x-ISO-15919">
                    <desc>Sanskrit, ISO-15919</desc>
                  </valItem>
                  <valItem ident="san-Deva">
                    <desc>Sanskrit, Devanagari</desc>
                  </valItem>
                  <valItem ident="deu">
                    <desc>German</desc>
                  </valItem>
                  <valItem ident="eng">
                    <desc>English</desc>
                  </valItem>
                  <valItem ident="fra">
                    <desc>French</desc>
                  </valItem>
                  <valItem ident="rus">
                    <desc>Russian</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </classSpec>
          <!-- Element specifications -->
          <!-- textstructure -->
          <elementSpec ident="div" module="textstructure" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <desc>VedaWeb: The attribute <att>type</att> is used to label the different levels
                  of the text structure employed for the Rigveda.</desc>
                <valList type="closed" mode="replace">
                  <valItem ident="dedication"/>
                  <valItem ident="addressee"/>
                  <valItem ident="group"/>
                  <valItem ident="book"/>
                  <valItem ident="hymn"/>
                  <valItem ident="stanza"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <!-- core -->
          <elementSpec ident="lg" module="core" mode="change">
            <attList>
              <attDef ident="source" mode="change">
                <desc>VedaWeb: The attribute <att>source</att> is used to label the different
                  sources of the Rigveda employed in this project.</desc>
                <valList type="closed" mode="replace">
                  <valItem ident="strata">
                    <desc><ptr target="vedaweb_corpus.tei#strata"/></desc>
                  </valItem>
                  <valItem ident="zurich">
                    <desc><ptr target="vedaweb_corpus.tei#zurich"/></desc>
                  </valItem>
                  <valItem ident="vnh">
                    <desc><ptr target="vedaweb_corpus.tei#vnh"/></desc>
                  </valItem>
                  <valItem ident="lubotsky">
                    <desc><ptr target="vedaweb_corpus.tei#vnh"/></desc>
                  </valItem>
                  <valItem ident="aufrecht">
                    <desc><ptr target="vedaweb_corpus.tei#aufrecht"/></desc>
                  </valItem>
                  <valItem ident="padapatha">
                    <desc><ptr target="vedaweb_corpus.tei#padapatha"/></desc>
                  </valItem>
                  <valItem ident="eichler">
                    <desc><ptr target="vedaweb_corpus.tei#eichler"/></desc>
                  </valItem>
                  <valItem ident="geldner">
                    <desc><ptr target="vedaweb_corpus.tei#geldner"/></desc>
                  </valItem>
                  <valItem ident="grassmann">
                    <desc><ptr target="vedaweb_corpus.tei#grassmann"/></desc>
                  </valItem>
                  <valItem ident="otto">
                    <desc><ptr target="vedaweb_corpus.tei#otto"/></desc>
                  </valItem>
                  <valItem ident="griffith">
                    <desc><ptr target="vedaweb_corpus.tei#griffith"/></desc>
                  </valItem>
                  <valItem ident="macdonell">
                    <desc><ptr target="vedaweb_corpus.tei#macdonell"/></desc>
                  </valItem>
                  <valItem ident="mueller">
                    <desc><ptr target="vedaweb_corpus.tei#mueller"/></desc>
                  </valItem>
                  <valItem ident="oldenberg">
                    <desc><ptr target="vedaweb_corpus.tei#oldenberg"/></desc>
                  </valItem>
                  <valItem ident="renou">
                    <desc><ptr target="vedaweb_corpus.tei#renou"/></desc>
                  </valItem>
                  <valItem ident="elizarenkova">
                    <desc><ptr target="vedaweb_corpus.tei#elizarenkova"/></desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- iso-fs -->

          <elementSpec ident="fs" module="iso-fs" mode="change">
            <attList>
              <attDef ident="type" usage="req" mode="change">
                <valList type="closed" mode="replace">
                  <valItem ident="zurich_info"> </valItem>
                  <valItem ident="leipzig_glossing_rules"> </valItem>
                  <valItem ident="stanza_properties"> </valItem>
                  <valItem ident="strata_info"> </valItem>
                </valList>

              </attDef>
            </attList>
          </elementSpec>

          <!-- string-->
          <elementSpec ident="string" module="iso-fs" mode="change">
            <attList>
              <attDef ident="match" mode="add">
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
              </attDef>
              <attDef ident="correction" mode="add">
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>

          <!-- feature-->
          <elementSpec ident="f" module="iso-fs" mode="change">
            <attList>
              <attDef ident="name" mode="change">
                <desc>VedaWeb: The attribute <att>name</att> is employed to label the different
                  morphosyntactic annotation levels </desc>
                <valList type="closed" mode="replace">
                  <valItem ident="surface">
                    <desc>Token to be described</desc>
                  </valItem>
                  <valItem ident="gra_lemma">
                    <desc>The content of this element should be an entry from Grassmann's
                      dictionary. Most of the time it is not the same notation employed by
                      Grassmann. This information has been provided by Zürich and is left here as it
                      is.</desc>
                  </valItem>
                  <valItem ident="gra_gramm">
                    <desc>Interpretation by Zurich of the grammatical information related to this
                      word in Grassmann. Three categories are employed: 'nominal stem', 'root' and
                      'invariable'. See modifications to <tag>symbol</tag>
                    </desc>
                  </valItem>
                  <valItem ident="morphosyntax">
                    <desc>Container for the morpho-syntactic annotations developed by Zurich.</desc>
                  </valItem>

                  <!-- leipzig glossing rules, morphosyntactic categories -->
                  <valItem ident="person"> </valItem>
                  <valItem ident="case"> </valItem>
                  <valItem ident="voice"> </valItem>
                  <valItem ident="tense"> </valItem>
                  <valItem ident="number"> </valItem>
                  <valItem ident="gender"> </valItem>
                  <valItem ident="mood"> </valItem>
                  <valItem ident="non-finite"> </valItem>
                  <!-- strata-->
                  <valItem ident="label"> </valItem>
                  <valItem ident="strata"> </valItem>

                  <!-- stanza properties-->
                  <valItem ident="grassmann"> </valItem>
                  <valItem ident="witzel"> </valItem>
                  <valItem ident="arnold"> </valItem>
                  <valItem ident="oldenberg"> </valItem>
                  <valItem ident="wuest"> </valItem>


                </valList>
              </attDef>
            </attList>
          </elementSpec>


          <!-- symbol-->
          <elementSpec ident="symbol" module="iso-fs" mode="change">
            <attList>
              <attDef ident="value" mode="change">
                <desc>VedaWeb: The attribute <att>value</att> is employed to assign a Leipzig
                  Glossing Rule or other gram. information from Grassmann's dictonary, as
                  interpreted by Zurich.</desc>
                <valList type="closed" mode="replace">

                  <!-- stanza_properties-->
                  <valItem ident="w"> </valItem>
                  <valItem ident="W"> </valItem>
                  <valItem ident="G"> </valItem>
                  <valItem ident="z"> </valItem>
                  <valItem ident="Z"> </valItem>
                  <valItem ident="o"> </valItem>
                  <valItem ident="O"> </valItem>
                  <valItem ident="C1"> </valItem>
                  <valItem ident="C2"> </valItem>


                  <!-- Grassmann Zurich -->
                  <valItem ident="nominal stem"> </valItem>
                  <valItem ident="pronoun"> </valItem>
                  <valItem ident="root"> </valItem>
                  <valItem ident="invariable"> </valItem>

                  <!-- Leipzig Glossing Rules -->
                  <valItem ident="1">
                    <desc>first person</desc>
                  </valItem>
                  <valItem ident="2">
                    <desc>second person</desc>
                  </valItem>
                  <valItem ident="3">
                    <desc>third person</desc>
                  </valItem>
                  <valItem ident="ABL">
                    <desc>ablative</desc>
                  </valItem>
                  <valItem ident="ACC">
                    <desc>accusative</desc>
                  </valItem>
                  <valItem ident="ACT">
                    <desc>actor</desc>
                  </valItem>
                  <valItem ident="AOR">
                    <desc>aorist</desc>
                  </valItem>
                  <valItem ident="COND">
                    <desc>conditional</desc>
                  </valItem>
                  <valItem ident="DAT">
                    <desc>dative</desc>
                  </valItem>
                  <valItem ident="DU">
                    <desc>dual</desc>
                  </valItem>
                  <valItem ident="F">
                    <desc>feminine</desc>
                  </valItem>
                  <valItem ident="FUT">
                    <desc>future</desc>
                  </valItem>
                  <valItem ident="GEN">
                    <desc>genitive</desc>
                  </valItem>
                  <valItem ident="IMP">
                    <desc>imperative</desc>
                  </valItem>
                  <valItem ident="IND">
                    <desc>indicative</desc>
                  </valItem>
                  <valItem ident="INS">
                    <desc>instrumental</desc>
                  </valItem>
                  <valItem ident="IPRF">
                    <desc>imperfect</desc>
                  </valItem>
                  <valItem ident="LOC">
                    <desc>locative</desc>
                  </valItem>
                  <valItem ident="M">
                    <desc>masculine</desc>
                  </valItem>
                  <valItem ident="MED">
                    <desc>middle voice</desc>
                  </valItem>
                  <valItem ident="N">
                    <desc>neutre</desc>
                  </valItem>
                  <valItem ident="NOM">
                    <desc>nominal</desc>
                  </valItem>
                  <valItem ident="OPT">
                    <desc>optative</desc>
                  </valItem>
                  <valItem ident="PASS">
                    <desc>passive voice</desc>
                  </valItem>
                  <valItem ident="PL">
                    <desc>plural</desc>
                  </valItem>
                  <valItem ident="PLUPRF">
                    <desc>past perfect</desc>
                  </valItem>
                  <valItem ident="PRF">
                    <desc>perfect</desc>
                  </valItem>
                  <valItem ident="PRS">
                    <desc>present</desc>
                  </valItem>
                  <valItem ident="SBJV">
                    <desc>subjunctive</desc>
                  </valItem>
                  <valItem ident="SG">
                    <desc>singular</desc>
                  </valItem>
                  <valItem ident="VOC">
                    <desc>vocative</desc>
                  </valItem>
                  <valItem ident="INJ">
                    <desc>injunctive</desc>
                  </valItem>
                  <valItem ident="CVB">
                    <desc>converb</desc>
                  </valItem>
                  <valItem ident="INF">
                    <desc>infinitive</desc>
                  </valItem>
                  <valItem ident="SG">
                    <desc>singular</desc>
                  </valItem>
                  <valItem ident="VOC">
                    <desc>vocative</desc>
                  </valItem>
                  <valItem ident="INJ">
                    <desc>injunctive</desc>
                  </valItem>
                  <valItem ident="CVB">
                    <desc>converb</desc>
                  </valItem>
                  <valItem ident="INF">
                    <desc>infinitive</desc>
                  </valItem>
                  <valItem ident="PTCP">
                    <desc>participle</desc>
                  </valItem>
                  <valItem ident="PPP">
                    <desc>participle perfective passive</desc>
                  </valItem>
                  <valItem ident="DES">
                    <desc>desiderative</desc>
                  </valItem>
                  <valItem ident="PREC">
                    <desc>precative</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>



          <elementSpec ident="funder" mode="change">
            <classes mode="change">
              <memberOf key="att.global" mode="delete"/>
            </classes>
          </elementSpec>
          <elementSpec ident="respStmt" mode="change">
            <classes mode="change">
              <memberOf key="att.canonical" mode="delete"/>
            </classes>
          </elementSpec>
          <elementSpec ident="resp" mode="change">
            <classes mode="change">
              <memberOf key="att.canonical" mode="delete"/>
            </classes>
          </elementSpec>
          <elementSpec ident="publisher" mode="change">
            <classes mode="change">
              <memberOf key="att.canonical" mode="delete"/>
            </classes>
          </elementSpec>
          <elementSpec ident="date" mode="change">
            <classes mode="change">
              <memberOf key="att.canonical" mode="delete"/>
            </classes>
          </elementSpec>
          <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
